<app-navbar></app-navbar>
<div style="text-align: right;">   
    
</div>
<div class="container">    
    <div class="card text-center">
        <div class="card-header">
           <B>LOGIN</B> <i class="pi pi-user" style="font-size: 1rem;margin-left: 10px;"></i>          
            <p-progressSpinner *ngIf="mostrar" [style]="{width: '20', height: '20px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>            
        </div>
         
        <div class="card-body" style="margin: 20px;">
            <form [formGroup]="form">
                <span class="p-float-label" style="margin: 20px;">
                    <input 
                    class="form-control" 
                    [formControl]="email"
                    id="float-input" 
                        type="text" 
                        formControlName="email"
                        pInputText> 
                    <label for="float-input">Correo</label>
                </span>                   
                                               
               
     
            </form>       
            
            <div class="centrar">
                <button (click)="recuperarEmail()" pButton pRipple type="button" label="Enviar" class="p-button-outlined p-button-primary" style="margin-top: 30px;"></button>
    
            </div>
    
           
        </div>
    
    </div>    
    
